#container {
    height: auto;
    width: 100%;
    border-style: solid;
}

#header {
    height: 100px;
    padding: 15px;
    background-color: #5f3131;
    top: 0;
    position: sticky;
    z-index: 1;
}

#heading {
    position: absolute;
    font-size: 50px;
    /* color:aliceblue; */
    font-family: fantasy;
    margin-top: 20px;
    margin-left: 100px;
    float: left;
    padding-left: 20px;
}

#logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

#logoImg {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#address {
    height: 90px;
    width: 200px;
    font-size: 20px;
    float: right;
    margin-top: 10px;
}

#nav {
    height: 45px;
    background-color: white;
    border-style: solid;
    top: 120px;
    position: sticky;
    z-index: 1;
}

#nav ul {
    margin-top: 10px;
    list-style: none;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: fantasy;
    margin-left: 110px;
    color: black;
}

#nav ul li a:hover {
    color: #5f3131;
}

#nav ul li ul {
    display: none;
}

#nav ul li:hover ul {
    height: auto;
    display: block;
    position: absolute;
    background-color: white;
    margin-top: -1px;
    width: 125px;
    margin-left: 410px;
    border-radius: 15px;
}

#nav ul li ul li {
    margin-left: -115px;
    line-height: 25px;
}

#middle {
    height: 500px;
    width: 100%;
    border-style: solid;
}

#midImg {
    height: 500px;
    width: 100%;
}

#section {
    height: 380px;
    /* border-style: dotted; */
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: justify;
    margin: 50px;
}

#sectionBox {
    height: 500px;
    border-style: solid;
    background-color: #5f3131;
    padding: 15px;
}

#box {
    height: 450px;
    width: 285px;
    float: left;
    margin: 20px;
    border-style: solid;
    background-color: white;
}

#boxImg {
    height: 280px;
    width: 285px;
    overflow: hidden;
}

#boxImage {
    height: 280px;
    width: 285px;
}

#boxImage:hover {
    transition: 3s;
    transform: scale(1.5);
}

#boxContent {
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

#boxContent button {
    height: 35px;
    width: 150px;
    margin-top: 20px;
    background-color: #5f3131;
    color: white;
}

#boxContent button:hover {
    color: black;
}

#aboutUs {
    height: 400px;
    border-style: solid;
    padding: 40px;
}

#aboutImg {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* margin-top: 10px; */
    float: left;
}

#aboutImage {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#aboutContent {
    height: 260px;
    width: 850px;
    float: left;
    /* margin-top: 10px; */
    margin-left: 50px;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}



#contact {
    height: 500px;
    padding: 30px;
    border-style: solid;
    background-color: #5f3131;
    color: black;
}

#contactBox {
    height: 375px;
    width: 260px;
    margin: 10px;
    margin-top: 30px;
    float: left;
    padding: 10px;
    background-color: white;
}

#contactMBox {
    height: 375px;
    width: 350px;
    margin: 10px;
    margin-top: 30px;
    float: left;
}

iframe {
    height: 390px;
    width: 365px;
}

#contactBox ul li a {
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    color: black;
}

#footer {
    padding: 10px;
    font-size: 18px;
}

#feedback {
    margin-top: -23px;
    height: auto;
    width: auto;
    background-color: #5f3131;
    padding: 15px;
}

#name {
    height: 40px;
    width: 300px;
    margin: 10px;
    color: black;
}

#email {
    height: 40px;
    width: 300px;
    margin: 10px;
    color: black;
}

#feed {
    height: 120px;
    width: 400px;
    margin: 10px;
    padding: 5px;
    color: black;

}

#option input {
    display: none;
}

#option label {
    display: block;
    padding: 8px;
    cursor: pointer;
    border: 2px;
}

#option input:checked+label {
    background-color: white;
    color: black;
    border-color: #5f3131;
}

#option label:hover {
    background-color: #412727;
}

#submit {
    height: 40px;
    width: 130px;
    cursor: pointer;
}

#submit:hover {
    background-color: #412727;
}

#signInForm {
    /* margin-left: 400px; */
    height: 480px;
    width: auto;
    background-color: #5f3131;
    color: black;
    margin-top: -21px;
    text-align: center;
}

#password {
    height: 40px;
    width: 300px;
    margin: 10px;
}

#signing {
    height: 30px;
    width: 50px;
}

#signing:hover {
    background-color: #412727;
    cursor: pointer;
}

#humber {
    height: 30px;
    display: none;
}

#hum {
    display: none;
}

/* **********************************************************************************************
*************************************************************************************************
*************************************************************************************************
************************************************************************************************* */
@media screen and (max-width:400px) {
    #container {
        height: auto;
        width: 100%;
        border-style: solid;
    }

    #header {
        height: 50px;
        /* padding: 7px; */
        background-color: #5f3131;
        top: 0;
        position: sticky;
        z-index: 1;
    }

    #heading {
        position: absolute;
        font-size: 25px;
        font-family: fantasy;
        margin-top: 10px;
        margin-left: 40px;
    }

    #logo {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }

    #logoImg {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    #address {
        /* height: 60px;
        width: 150px;
        font-size: 12px;
        float: right;
        margin-top: 10px;
        margin-right: -40px; */
        display: none;
    }

    #nav {
        background-color: white;
        border: 1px solid #ccc;
        position: sticky;
        top: 80px;
        z-index: 1;
        /* padding: 5px 10px; */
    }

    #hum {
        display: none;
    }

    #humber {
        display: none;
        height: 30px;
        cursor: pointer;
    }

    #nav ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    #nav ul li {
        position: relative;
    }

    #nav ul li a {
        text-decoration: none;
        font-size: 14px;
        font-family: fantasy;
        color: black;
    }

    #nav ul li a:hover {
        color: black;
    }

    #nav ul li ul {
        display: none;
        position: absolute;
        background-color: white;
        padding: 8px;
        border-radius: 10px;
        top: 100%;
        left: 0;
    }

    #nav ul li:hover ul {
        display: block;
    }

    /* ---------- MOBILE VIEW ---------- */
    @media (max-width: 400px) {

        #humber {
            display: block;
            margin-left: auto;
        }

        #nav {
            height: 20px;
            padding: 10px;
        }

        #nav ul {
            display: none;
            flex-direction: column;
            margin-top: 3px;
            gap: 2px;
            background-color:#5f3131;
        }

        #hum:checked~ul {
            display: flex;
        }

        #nav ul li a {
            padding: 6px 10px;
            display: block;
            color: white;
        }

        #nav ul li:hover ul {
            display: none;
        }

        #nav ul li ul {
            display: none;
            color: black;
        }
    }


    #middle {
        height: 300px;
        width: auto;
        border-style: solid;
    }

    #midImg {
        height: 300px;
    }

    #section {
        height: 550px;
        /* border-style: dotted; */
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 18px;
        text-align: justify;
        margin: 30px;
    }

    #sectionBox {
        height: 640px;
        /* border-style: solid; */
        background-color: #5f3131;
        padding: 15px;
    }

    #box {
        height: 300px;
        width: 160px;
        /* float: left; */
        margin: 2px;
        border-style: solid;
        background-color: white;
    }

    #boxImg {
        height: 150px;
        width: 160px;
        overflow: hidden;
    }

    #boxImage {
        height: 150px;
        width: 160px;
    }

    #boxImage:hover {
        transition: 3s;
        transform: scale(1.5);
    }

    #boxContent {
        line-height: 15px;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px;
        font-size: 12px;
    }

    #boxContent button {
        height: 20px;
        width: 60px;
        margin-top: 10px;
        background-color: #5f3131;
        color: white;
        font-size: 10px;
        margin-left: 60px;
    }

    #boxContent button:hover {
        color: black;
    }

    #aboutUs {
        height: 770px;
        /* border-style: solid; */
        padding: 10px;
    }

    #aboutImg {
        height: 200px;
        width: auto;
        border-radius: 50%;
        margin-left: 70px;
    }

    #aboutImage {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    #aboutContent {
        height: 200px;
        width: auto;
        margin-left: 15px;
        margin: 10px;
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    #contact {
        height: 1450px;
        padding: 5px;
        border-style: solid;
        background-color: #5f3131;
        color: black;
        padding: 20px;
    }

    #contactBox {
        height: 280px;
        width: 300px;
        background-color: white;
    }

    #contactMBox {
        height: 300px;
        width: 320px;
    }

    #contactBox h2 {
        font-size: 20px;
        line-height: 5px;
    }

    iframe {
        height: 300px;
        width: 320px;
    }

    #contactBox ul li a {
        text-decoration: none;
        line-height: 30px;
        font-size: 15px;
        color: black;
    }

    #footer {
        padding: 8px;
        font-size: 15px;
    }

    #feedback {
        margin-top: -23px;
        height: auto;
        width: auto;
        background-color: #5f3131;
        padding: 15px;
    }

    #name {
        height: 40px;
        width: 300px;
        margin: 10px;
        color: black;
    }

    #email {
        height: 40px;
        width: 300px;
        margin: 10px;
        color: black;
    }

    #feed {
        height: 120px;
        width: 300px;
        margin: 10px;
        padding: 5px;
        color: black;

    }

    #option input {
        display: none;
    }

    #option label {
        display: block;
        padding: 8px;
        cursor: pointer;
        border: 2px;
    }

    #option input:checked+label {
        background-color: white;
        color: black;
        border-color: #5f3131;
    }

    #option label:hover {
        background-color: #412727;
    }

    #submit {
        height: 40px;
        width: 130px;
        cursor: pointer;
    }

    #submit:hover {
        background-color: #412727;
    }

    #signInForm {
        /* margin-left: 400px; */
        height: 480px;
        width: auto;
        background-color: #5f3131;
        color: black;
        margin-top: -21px;
        text-align: center;
    }

    #password {
        height: 40px;
        width: 280px;
        margin: 10px;
    }

    #signing {
        height: 30px;
        width: 50px;
    }

    #signing:hover {
        background-color: #412727;
        cursor: pointer;
    }
}